.formGroup {
  width: 25%;
  margin-left: 38%;
  text-align: center; 

}
#submitBtn {
  background-color: rgb(0, 51, 99) !important;
}
#userHelp{
  color: white !important;
}
hr {
  background-color: white;
  width: 100%;
}

.dev {
  width: 100px;
  height: 80px;
  border: 2px solid pink;
  border-radius: 50%;
}

/* #container {
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
} */