<!DOCTYPE html>
<html>

<head>
  <title>Twitter Sentiment Analysis Bot</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Twitter Sentiment Analysis Bot</h1>
  <div class="results">
  <h1>Score:<h3 id="sentimentScore">?</h3>
  </h1>
  </div>
  <hr />
  <input type="text" id="searchText" placeholder="Keyword">


  </section>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>

  </script>
</body>

</html>